* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  background: #111;
  color: #fff;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

header img {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  height: 40px;
  margin-right: 25px;
}

header h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 20px;
  line-height: 40px;
}

header span {
  display: inline-block;
  color: #999;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #e6e7e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row nowrap;
          flex-direction: row nowrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 200px;
  background: #ccc;
}

aside ul li {
  display: block;
  margin: 2px;
}

aside ul li a {
  display: block;
  padding: 15px 25px 15px 15px;
  text-decoration: none;
  color: #111;
  background: #999;
}

aside ul li a i {
  display: inline-block;
  margin-right: 10px;
}

aside ul li.active a {
  background: #302387;
  color: #fff;
}

content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 25px 80px;
}

table.list {
  margin: 60px 0;
  border: 1px solid #999;
  border-width: 1px 0 0 1px;
  background: #f6f7f8;
}

table.list thead th {
  padding: 15px;
  background: #ccc;
  text-align: left;
  border: 1px solid #999;
  border-width: 0 1px 1px 0;
}

table.list thead th.active-sort {
  background: #bbb;
}

table.list thead th a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #111;
  padding-right: 25px;
}

table.list thead th a:after {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  top: 50%;
  text-align: center;
  line-height: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'cookies_font';
  font-size: 18px;
  color: #999;
}

table.list thead th a.sort-desc:after {
  content: '\e808';
}

table.list thead th a.sort-asc:after {
  content: '\e809';
}

table.list thead th a.sorting-active:after {
  color: #302387;
}

table.list tbody tr:nth-child(odd) {
  background: #fff;
}

table.list tbody td {
  font-size: 16px;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  padding: 5px 15px;
}

table.list tbody td:first-child {
  font-weight: bold;
  font-size: 110%;
}

table.list tbody td:last-child {
  white-space: nowrap;
  position: relative;
}

table.list tbody td.active {
  background: #0d0;
}

table.list tbody td.inactive {
  font-weight: bold;
  background: #c44;
  color: #fff;
}

table.list tbody td .highlight {
  display: inline-block;
  padding: 0 8px;
  border-radius: 3px;
  font-weight: bold;
}

table.list tbody td .highlight.error {
  background: #c00;
  color: #fff;
}

table.list tbody td .highlight.notice {
  background: #cdf;
}

table.hits-result {
  margin-top: 25px;
}

table.hits-result tbody td:first-child {
  font-weight: normal;
}

table.hits-result tbody td.valid {
  text-align: center;
  color: #090;
}

table.hits-result tbody td.valid i:before {
  font-size: 28px;
}

table.hits-result tbody td.invalid {
  text-align: center;
  color: #c44;
}

table.hits-result tbody td.invalid i:before {
  font-size: 28px;
}

a.btn {
  display: block;
  width: auto;
  max-width: 200px;
  text-align: center;
  border-radius: 5px;
  margin: 25px auto;
  border: 1px solid #302387;
  background: transparent;
  color: #302387;
  padding: 10px 25px;
  text-decoration: none;
}

a.btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.btn.outline {
  background: transparent;
  color: #302387;
  border-color: #302387;
}

.a-icon {
  font-size: 0;
  height: 32px;
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 2px;
  text-decoration: none;
}

.a-icon:hover {
  background: rgba(0, 0, 0, 0.01);
}

.a-icon:before {
  display: inline-block;
  font-size: 26px;
  font-family: 'cookies_font';
  content: '';
  color: #111;
  top: 3px;
  position: relative;
  margin-right: 5px;
}

.a-icon.a-edit:before {
  color: #302387;
  content: '\f14b';
}

.a-icon.a-toggle.a-active:before {
  color: #c00;
  content: '\e801';
}

.a-icon.a-toggle.a-inactive:before {
  color: #FFBF00;
  content: '\e800';
}

.a-icon.a-snippet {
  cursor: pointer;
}

.a-icon.a-snippet:before {
  content: '\f1c9';
  font-size: 22px;
  position: relative;
}

.a-icon.a-delete:before {
  color: #c00;
  content: '\f1f8';
}

.a-icon.a-toggle.a-user-active:before {
  color: #c00;
  content: '\e801';
}

.a-icon.a-toggle.a-user-inactive:before {
  color: #090;
  content: '\e800';
}

form {
  margin-top: 45px;
}

form .button-group .btn,
form .button-group input[type=submit] {
  display: inline-block;
  margin-right: 25px;
  margin-left: 0;
}

#snippet_overlay {
  position: fixed;
  top: 90px;
  left: 200px;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 3000000;
}

#snippet {
  position: absolute;
  z-index: 5000000;
  width: 60vw;
  right: 70%;
  top: 0;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #999;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

#snippet textarea {
  background: #e6e7e8;
}

#snippet button {
  margin-top: 10px;
}

.dashboard #snippet_overlay {
  left: 0;
  top: 80px;
}

.domain-select {
  margin-top: 45px;
  text-align: center;
}

.domain-select #domain_select {
  width: 240px;
}

.domain-select .select2-container .select2-selection--single {
  height: auto;
  padding: 8px 10px;
  text-align: left;
}

.domain-select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

.stats-content h3 {
  margin-top: 35px;
}

a.logout {
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px;
  text-decoration: none;
}

a.logout i {
  margin-right: 5px;
}

a.logout:hover {
  text-decoration: underline;
}

.add-user,
.edit-user,
.user-list {
  margin-top: 45px;
}

.add-user select,
.edit-user select,
.user-list select {
  width: 140px;
}

.add-user form,
.edit-user form,
.user-list form {
  margin-top: 25px;
}

.add-user table,
.edit-user table,
.user-list table {
  margin-top: 25px;
}

.add-user table tbody td:first-child,
.edit-user table tbody td:first-child,
.user-list table tbody td:first-child {
  font-size: 100%;
}

.add-user {
  margin-top: 0;
}

.select2-container--default .select2-selection--single,
.select2-container .select2-selection--single {
  height: auto;
  padding: 8px 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}

.form-group.dual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-group.dual label {
  width: 48%;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.flex-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-centered > form {
  min-width: 300px;
  margin: auto !important;
  padding-bottom: 15vh;
}

.flex-centered > form .button-group {
  padding-top: 15px;
}

.flex-centered > form .button-group a.btn,
.flex-centered > form .button-group .btn {
  margin: 0;
}

.dashboard {
  padding-top: 45px;
}

.dashboard hr {
  margin: 15px 0 25px;
}

.dashboard h2 {
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
}

.dashboard h2:first-letter {
  font-size: 125%;
}

.dashboard h3 {
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #302387;
}

.dashboard h3:first-letter {
  font-size: 125%;
}

.dashboard h3 .btn {
  float: right;
  margin: 0;
  padding: 6px 25px 6px 20px;
  font-size: 15px;
  border-radius: 3px;
  color: #fff;
  background: #302387;
  text-transform: none;
}

.dashboard-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.dashboard-content h4 .btn {
  float: right;
  margin: 0;
  padding: 6px 25px 6px 20px;
  font-size: 15px;
  border-radius: 3px;
  color: #fff;
  background: #302387;
  text-transform: none;
}

.dashboard-content table {
  border: 1px solid #bbb;
  border-width: 1px 1px 0;
  border-radius: 8px;
  width: 100%;
}

.dashboard-content table th {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.03);
}

.dashboard-content table tbody th {
  text-align: right;
  width: 40%;
}

.dashboard-content table th,
.dashboard-content table td {
  padding: 15px;
  border-bottom: 1px solid #bbb;
}

.dashboard-content table td {
  background: rgba(255, 255, 255, 0.35);
}

.dashboard-content table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.dashboard-content table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.dashboard-content table tbody tr:last-child th:first-child {
  border-bottom-left-radius: 8px;
}

.dashboard-content table tbody tr:last-child th:last-child {
  border-bottom-right-radius: 8px;
}

.dashboard-content table tbody td:last-child {
  position: relative;
  white-space: nowrap;
}

.dashboard-content table tr.highlight th,
.dashboard-content table tr.highlight td {
  background: #eef;
}

.user-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  padding: 25px 0;
}

.domain-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  padding: 25px;
}

.error-message {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
  display: inline-block;
  background: #c00;
  color: #fff;
  padding: 15px 25px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.error-message.popup {
  opacity: 1;
}

.user-block span {
  display: inline-block;
  margin-right: 15px;
}

.user-block a {
  color: #fff;
  text-decoration: none;
}

.users-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  min-width: 360px;
}

.users-col h4 {
  margin-bottom: 25px;
}

.users-col h4 a {
  position: relative;
  top: -8px;
}

.domains-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  padding-left: 45px;
}

.domains-col table {
  margin-top: 20px;
}

.users-wrapper {
  overflow: scroll;
  height: 70vh;
  margin-top: 20px;
}

.users-list {
  min-width: 100%;
}

.users-list tr.break-row {
  cursor: pointer;
}

.users-list tr.break-row:hover td {
  background: rgba(0, 0, 0, 0.02);
}

.users-list tr.data-row {
  display: none;
}

.users-list tr.data-row table {
  border: none;
  border-radius: 0;
  border-bottom: 15px solid #fff;
  background: #fff;
}

.users-list tr.data-row table td {
  padding: 5px 10px;
  font-size: 16px;
}

.users-list tr.data-row table td button.btn {
  padding: 6px 15px;
  font-size: 15px;
  margin: 5px;
  float: right;
}

.user-status {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  margin-right: 8px;
}

.user-status.active {
  background: #0d0;
}

.user-status.pending {
  background: #FFBF00;
}

.user-status.inactive {
  background: #c00;
}

.admin-dashboard a.icon {
  color: #555;
  font-size: 15px;
}

.user-item {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: -1px;
  padding: 15px;
  text-decoration: none;
}

.user-details-table {
  margin-bottom: 35px;
}

h4 span {
  margin-right: 45px;
}

h4 a {
  text-decoration: none;
  font-size: 15px;
  color: #333;
  margin-right: 25px;
}

h4 a i {
  font-size: 22px;
}

h4 a.a-edit {
  color: #302387;
}

h4 a.a-toggle.a-active:before {
  color: #c00;
}

h4 a.a-toggle.a-inactive:before {
  color: #090;
}

h4 a.a-delete {
  color: #c00;
}
/*# sourceMappingURL=admin.css.map */