* {
  margin:0;
  padding:0;
  list-style:none;
  box-sizing:border-box;
}
body {
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:stretch;
  font-family:'Roboto', sans-serif;
  font-size:18px;
}
header {
  flex:0;
  background:#111;
  color:#fff;
  padding:20px 25px;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  overflow:hidden;

  img {
    flex:0;
    height:40px;
    margin-right:25px;
  }
  h1 {
    flex:1;
    font-size:20px;
    line-height:40px;
  }
  span {
    display:inline-block;
    // padding-top:10px;
    color:#999;
  }
}
.content {
  flex:1;
  background:#e6e7e8;
  display:flex;
  flex-direction:row nowrap;
  justify-content:stretch;
}
aside {
  flex:1;
  max-width:200px;
  background:#ccc;

  ul {
    li {
      display:block;
      margin:2px;
      
      a {
        display:block;
        padding:15px 25px 15px 15px;
        text-decoration:none;
        color:#111;
        background:#999;

        i {
          display:inline-block;
          margin-right:10px;
        }
      }
      &.active {
        a {
          background:#302387;
          color:#fff;
        }
      }
    }
  }
}
content {
  flex:1;
  padding:20px 25px 80px;
}
table.list {
  margin:60px 0;
  border:1px solid #999;
  border-width:1px 0 0 1px;
  background:#f6f7f8;

  thead {
    th {
      padding:15px;
      background:#ccc;
      text-align:left;
      border:1px solid #999;
      border-width:0 1px 1px 0;

      &.active-sort {
        background:#bbb;
      }
      a {
        display:block;
        position:relative;
        text-decoration:none;
        color:#111;
        padding-right:25px;

        &:after {
          display:block;
          position:absolute;
          width:25px;
          height:25px;
          right:0;
          top:50%;
          text-align:center;
          line-height:25px;
          transform:translateY(-50%);
          font-family:'cookies_font';
          font-size:18px;
          color:#999;
        }
        &.sort-desc {
          &:after {
            content:'\e808';
          }
        }
        &.sort-asc {
          &:after {
            content:'\e809';
          }
        }
        &.sorting-active {
          &:after {
            color:#302387;
          }
        }
      }
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background:#fff;
      }
    }
    td {
      font-size:16px;
      border:1px solid #ccc;
      border-width:0 1px 1px 0;
      padding:5px 15px;

      &:first-child {
        font-weight:bold;
        font-size:110%;
      }
      &:last-child {
        white-space: nowrap;
        position: relative;
      }
      &.active {
        background:#0d0;
      }
      &.inactive {
        font-weight:bold;
        background:#c44;
        color:#fff;
      }
      .highlight {
        display:inline-block;
        padding:0 8px;
        border-radius:3px;
        font-weight: bold;

        &.error {
          background:#c00;
          color:#fff;
        }
        &.notice {
          background:#cdf;
        }
      }
    }
  }
}
table.hits-result {
  margin-top:25px;

  tbody {
    td {
      &:first-child {
        font-weight: normal;
      }
      &.valid {
        text-align:center;
        color:#090;

        i {
          &:before {
            font-size:28px;
          }
        }
      }
      &.invalid {
        text-align:center;
        color:#c44;

        i {
          &:before {
            font-size:28px;
          }
        }
      }
    }
  }
}
a.btn {
  display:block;
  width:auto;
  max-width:200px;
  text-align:center;
  border-radius:5px;
  margin:25px auto;
  border:1px solid #302387;
  background:transparent;
  color:#302387;
  padding:10px 25px;
  text-decoration:none;

  &:hover {
    background:rgba(0,0,0,0.1);
  }
}
.btn.outline {
  background:transparent;
  color:#302387;
  border-color:#302387;
}
.a-icon {
  font-size:0;
  height:32px;
  padding:4px;
  border-radius:2px;
  display:inline-block;
  margin:0 2px;
  text-decoration:none;

  &:hover {
    background:rgba(0,0,0,0.01);
  }
  &:before {
    display:inline-block;
    font-size:26px;
    font-family:'cookies_font';
    content:'';
    color:#111;
    top:3px;
    position: relative;
    margin-right:5px;
  }
  &.a-edit {
    &:before {
      color:#302387;
      content:'\f14b';
    }
  }
  &.a-toggle {
    &.a-active {
      &:before {
        color:#c00;
        content:'\e801';
      }
    }
    &.a-inactive {
      &:before {
        color:#FFBF00;
        content:'\e800';
      }
    }
  }
  &.a-snippet {
    cursor:pointer;

    &:before {
      content:'\f1c9';
      font-size:22px;
      position: relative;
    }
  }
  &.a-delete {
    &:before {
      color:#c00;
      content:'\f1f8';
    }
  }
  &.a-toggle {
    &.a-user-active {
      &:before {
        color:#c00;
        content:'\e801';
      }
    }
    &.a-user-inactive {
      &:before {
        color:#090;
        content:'\e800';
      }
    }
  }
}
form {
  margin-top:45px;

  .button-group {
    .btn,
    input[type=submit] {
      display:inline-block;
      margin-right:25px;
      margin-left:0;
    }
  }
}
#snippet_overlay {
  position:fixed;
  top:90px;
  left:200px;
  right:0;
  bottom:0;
  height:100%;
  background:rgba(255,255,255,0.5);
  z-index:3000000;
}
#snippet {
  position:absolute;
  z-index:5000000;
  width:60vw;
  right:70%;
  top:0;
  background:#fff;
  padding:25px;
  border-radius:8px;
  border:1px solid #999;
  box-shadow:10px 10px 10px rgba(0,0,0,0.15);

  textarea {
    background:#e6e7e8;
  }
  button {
    margin-top:10px;
  }
}
.dashboard {
  #snippet_overlay {
    left:0;
    top:80px;
  }
}
.domain-select {
  margin-top:45px;
  text-align:center;

  #domain_select {
    width:240px;
  }
  .select2-container .select2-selection--single {
    height:auto;
    padding:8px 10px;
    text-align:left;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height:100%;
  }
}
.stats-content {
  h3 {
    margin-top:35px;
  }
}
a.logout {
  color:#fff;
  align-self:flex-end;
  padding:10px;
  text-decoration:none;

  i {
    margin-right:5px;
  }
  &:hover {
    text-decoration:underline;
  }
}
.add-user,
.edit-user,
.user-list {
  margin-top:45px;

  select {
    width:140px;
  }
  form {
    margin-top:25px;
  }
  table {
    margin-top: 25px;

    tbody {
      td {
        &:first-child {
          font-size:100%;
        }
      }
    }
  }
}
.add-user {
  margin-top:0;
}
.select2-container--default .select2-selection--single,
.select2-container .select2-selection--single {
  height:auto;
  padding:8px 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height:100%;
}
.form-group {
  &.dual {
    display:flex;
    flex-direction:row;
    justify-content:space-between;

    label {
      width:48%;
      flex-basis:48%;
    }
  }
}

.flex-centered {
  display:flex;
  min-height:100vh;
  justify-content:center;
  align-items:center;

  & > form {
    min-width:300px;
    margin:auto!important;
    padding-bottom:15vh;

    .button-group {
      padding-top:15px;

      a.btn,
      .btn {
        margin:0;
      }
    }
  }
}

.dashboard {
  padding-top: 45px;

  hr {
    margin:15px 0 25px;
  }
  h2 {
    font-weight:300;
    font-size: 30px;
    text-transform:uppercase;
    
    &:first-letter {
      font-size:125%;
    }
  }
  h3 {
    font-weight:300;
    font-size: 22px;
    text-transform:uppercase;
    margin-bottom:20px;
    color:#302387;

    &:first-letter {
      font-size:125%;
    }
    .btn {
      float:right;
      margin:0;
      padding:6px 25px 6px 20px;
      font-size:15px;
      border-radius:3px;
      color:#fff;
      background:#302387;
      text-transform:none;
    }
  }
}

.dashboard-content {
  display:flex;
  flex-flow:row nowrap;

  h4 {
    .btn {
      float:right;
      margin:0;
      padding:6px 25px 6px 20px;
      font-size:15px;
      border-radius:3px;
      color:#fff;
      background:#302387;
      text-transform:none;
    }
  }
  table {
    border:1px solid #bbb;
    border-width:1px 1px 0;
    border-radius:8px;
    // overflow:hidden;
    width:100%;

    th {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align:left;
      font-weight:100;
      font-size:12px;
      text-transform:uppercase;
      background:rgba(0,0,0,0.03);
    }
    tbody {
      th {
        text-align:right;
        width:40%;
        // vertical-align:bottom;
      }
    }
    th,
    td {
      padding:15px;
      border-bottom:1px solid #bbb;
    }
    td {
      background:rgba(255,255,255,0.35);
    }
    tr {
      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius:8px;
          }
          &:last-child {
            border-bottom-right-radius:8px;
          }
        }
      }
    }
    tbody {
      tr {
        &:last-child {
          th {
            &:first-child {
              border-bottom-left-radius:8px;
            }
            &:last-child {
              border-bottom-right-radius:8px;
            }
          }
        }
      }
      td {
        &:last-child {
          position: relative;
          white-space: nowrap;
        }
      }
    }
    tr.highlight {
      th,
      td {
        background:#eef;
      }
    }
  }
}
.user-info {
  flex:1;
  flex-basis:35%;
  padding:25px 0;
}
.domain-info {
  flex:1;
  flex-basis:65%;
  padding:25px;
}
.error-message {
  transition:all 1s ease-out;
  opacity:0;
  display:inline-block;
  background:#c00;
  color:#fff;
  padding:15px 25px;
  margin-bottom:25px;
  border-radius:5px;

  &.popup {
    opacity:1;
  }
}
.user-block {
  span {
    display: inline-block;
    margin-right:15px;
  }
  a {
    color:#fff;
    text-decoration:none;
  }
}
.users-col {
  flex:1;
  flex-basis:35%;
  min-width:360px;

  h4 {
    margin-bottom:25px;

    a {
      position: relative;
      top:-8px;
    }
  }
}
.domains-col {
  flex:1;
  flex-basis:65%;
  padding-left:45px;

  table {
    margin-top: 20px;
  }
}
.users-wrapper {
  overflow:scroll;
  // border:1px dashed blue;
  height:70vh;
  margin-top:20px;
}
.users-list {
  min-width:100%;

  tr {
    &.break-row {
      cursor:pointer;

      &:hover {
        td {
          background:rgba(0,0,0,0.02);
        }
      }
    }
    &.data-row {
      display:none;

      table {
        border:none;
        border-radius:0;
        border-bottom:15px solid #fff;
        background:#fff;
        
        td {
          padding:5px 10px;
          font-size: 16px;

          button.btn {
            padding:6px 15px;
            font-size:15px;
            margin:5px;
            float:right;
          }
        }
      }
    }
  }
}
.user-status {
  display:inline-block;
  width:12px;
  height:12px;
  position: relative;
  // top:3px;
  border-radius:50%;
  margin-right:8px;

  &.active {
    background:#0d0;
  }
  &.pending {
    background:#FFBF00;
  }
  &.inactive {
    background:#c00;
  }
}
.admin-dashboard {
  a.icon {
    color:#555;
    font-size:15px;
  }
}
.user-item {
  display:block;
  border:1px solid #ccc;
  border-radius:3px;
  margin-bottom:-1px;
  padding:15px;
  text-decoration:none;
}
.user-details-table {
  margin-bottom:35px;
}
h4 {
  span {
    margin-right:45px;
  }
  a {
    text-decoration:none;
    font-size:15px;
    color:#333;
    margin-right:25px;

    i {
      font-size: 22px;
    }
    &.a-edit {
      color:#302387;
    }
    &.a-toggle {
      &.a-active {
        &:before {
          color:#c00;
        }
      }
      &.a-inactive {
        &:before {
          color:#090;
        }
      }
    }
    &.a-delete {
      color:#c00;
    }
  }
}