* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #e6e7e8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

form {
  display: block;
}

form select {
  min-width: 180px;
}

.form-group {
  margin: 15px 0;
}

a.btn,
button.btn,
input {
  background: #fff;
  padding: 15px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
}

input.hasError {
  border-color: red;
}

button.btn,
input[type=button],
input[type=submit] {
  background: #302387;
  color: #fff;
  margin: 25px auto 0;
  width: auto;
  display: block;
  padding: 15px 25px;
  cursor: pointer;
}

input[type=submit]:disabled,
input[type=button]:disabled {
  background: #999;
}

hr {
  margin: 45px 0;
}

textarea {
  outline: none;
  clear: both;
  background: #fff;
  padding: 15px;
  font-size: 12px;
  font-family: "Courier New", sans-serif;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  height: 240px;
  resize: none;
}

label > span:nth-child(1) {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

label > span:nth-child(1):after {
  content: '*';
  color: #c00;
}

#result-wrapper p {
  text-align: center;
  margin: 25px auto;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  background: #111;
  color: #fff;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

header img {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  height: 40px;
  margin-right: 25px;
}

header h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 20px;
  line-height: 40px;
}

#success,
#errors {
  width: 100%;
  max-width: 750px;
  text-align: center;
  background: #c44;
}

#success p,
#errors p {
  padding: 15px 25px;
  color: #ff0;
}

#success {
  background: #0a0;
}

#success p {
  color: #fff;
}

.select2-container--default .select2-selection--single {
  border-color: #ccc;
  border-radius: 8px;
  height: auto;
  padding: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  right: 5px;
}

.activation {
  padding: 60px 25px;
  text-align: center;
  margin: 150px auto;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f1f2f3;
}

.activation h1 {
  color: #302387;
  margin-bottom: 45px;
}

.activation p {
  font-size: 24px;
  line-height: 2;
}

.activation a.btn {
  display: inline-block;
  width: auto;
  background: #302387;
  color: #fff;
  text-decoration: none;
  margin: 25px 0 0;
  padding: 15px 35px;
}

#form .button-group {
  position: relative;
}

#loader {
  position: absolute;
  z-index: 999;
  text-align: center;
  background: #f6f7f8;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}

#loader img {
  margin-top: 15px;
}

.flexrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flexrow button {
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  white-space: nowrap;
}

.signup {
  width: 80%;
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */