div.cookie-disclaimer-wrapper {
  box-sizing:border-box;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  right:0;
  padding:25px;
  background:#302387;
  color:#fff;
  font-size:14px;
  font-family:Arial, Helvetica, sans-serif;
}
div.cookie-disclaimer-wrapper > button {
  background:#fff;
  color:#302387;
  width:auto;
  display:block;
  padding:10px 25px;
  font-size:14px;
  cursor:pointer;
  border-radius:5px;
  float:right;
} 
div.cookie-disclaimer-wrapper.error {
  background:#c00;
  color:#fff;
}